/*orange color = #e67e22  */
/*-------------------------------------------------*/
/*basic setup*/
/*-------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------------------------------------*/
/*reusable components*/
/*-------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto ;    
}
section {
    padding: 80px 0;
}



/*headings*/
h1, 
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*---------paragraphs---------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}



/*icons*/


.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    
    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}



/* LINKS*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid  #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}





/*buttons*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300%;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.5s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.5s, border 0.2s, color 0.2s;
    transition: background-color 0.5s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #FFF;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #FFF;
}









/*-------------------------------------------------*/
/*Headers*/
/*-------------------------------------------------*/
header {
    
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(img/sunset.jpg);
    background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3)), url(img/sunset.jpg);
    background-image:-o-linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3)), url(img/sunset.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3)), url(img/sunset.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.logo,
.logo-black{
    height: 50px;
    width: auto;
    float: left;
    margin-top: 20px;
    color: #FFF;
}

.logo-black { 
    display: none; 
    height: 50px;
    width: auto;
    float: left;
    margin: 3px;
}
}



/* MAIN NAVI*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited
{
    padding: 8px 0;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}






/* CALCULATOR SECTION */

.section-calculator {
    background-color: #e5e5e5;
}

.calculator-nav {
    text-align: center;
/*    float: left;*/
    list-style: none;
    margin-top: 40px;    
}

.input-fields {
    text-align: center;
    text-transform: uppercase
}

.input-fields input[type=text],
.input-fields select {
    width: 80%;
    border-radius: 60px;
    border: 2px solid #e67e22;
    background-color: #cccccc;
    text-align: center;
}
.input-fields select { text-align-last: center; }


.center-div {
    display: block;
    text-align: center;
    font-size: 110%;
    margin-bottom: 2%;
}

#submit-form {
    margin-top: 20px
}

.advanced {
    margin-top: 35px;
}

#submit-form input[type=submit]
{
    width: auto;
    font-size: 140%;
    border-radius: 200px;
    border: 1px solid  #e67e22;
    background-color: #e67e22;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #000;
    transition: background-color 0.5s, border 0.2s, color 1s;
}

.value-field {
    margin-bottom: 30px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-image: url(../img/arrow-down.svg);
    background-size: 5%;
    background-repeat: no-repeat;   
    background-position: 95%;
/*  outline: 0;*/
}

.roof-angle-photo {
    display: inline;
    height: 150px;
    width: auto;
    margin: 0;
    overflow: hidden;
}
.deviation-photo {
    display: inline;
    height: 150px;
    width: auto;
    margin: 0;
    overflow: hidden;
    
}

.advanced-options-texts {
    text-align: left;
}

.advanced-options-texts div {
    margin: 7px 0px 50px 0px;
    font-weight: bold;
}

#submit-form input:hover {
    background-color: #cb5010;
}

select option {
	background-color: white;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
    
}

.advanced a {
	display: inline-block;
	padding-bottom: 3px;
}
.advanced a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	transition: width .5s ease, background-color .5s ease;
}

.advanced a:hover {
    color: #e67e22;
    padding-bottom: 1px;
}

.advanced a:hover:after {
	width: 100%;
	background: #e67e22;
    
}

.content {
    background-image: url('../img/10.png');
}



/*-------------------------------------------------*/
/*features*/
/*-------------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 40px;
}







/*-------------------------------------------------*/
/*meals*/
/*-------------------------------------------------*/

.section-panels {
    padding: 0;
}


.panels-showcase {
    list-style: none;
    width: 100%;
}

.panels-showcase li {
    display: block;
    float:left;
    width: 25%;
    
}

.panel-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.panel-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.panel-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
}




/*-------------------------------------------------*/
/*CITIES*/
/*-------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.city-feature {
    margin-bottom: 5px;
}

/*-------------------------------------------------*/
/*TESTIMONIALS*/
/*-------------------------------------------------*/

.section-testimonials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
    background-image: -webkit-linear-gradient(rgba(25, 25, 25, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-image: -o-linear-gradient(rgba(25, 25, 25, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
        
}



blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201c";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*-------------------------------------------------*/
/*SIGN UP*/
/*-------------------------------------------------*/

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #FFF;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border:  0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}


.plan-price-meal {
    font-size: 80%;
    
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}



/*-------------------------------------------------*/
/*SIGN UP*/
/*-------------------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}


input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cecece;
}

textarea {
    height: 100px;
}


input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none}




/*-------------------------------------------------*/
/*footer*/
/*-------------------------------------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links {
    list-style: none;
    float:right;
}



.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}



.footer-nav li a:hover,
.footer-nav li a:active {
    color: #FFF;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}




.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

















